<!doctype html>
<!-- https://github.com/elipapa/markdown-cv/ -->
<html>
<head>
  <title>{{ page.title }}</title>
  <link href="/css/davewhipp.css" type="text/css" rel="stylesheet" >
</head>
<body>
  <div id="main">
    <div class="container">

     {{ content }}

    </div>
  </div>
  <hr>
  <footer>
         <a href="https://mike052577.github.io/">Home</a> |
         <a href="mailto:hanks@nii.ac.jp">Email</a> |
         <a href="https://github.com/mike052577">Github</a>
  </footer>
</body>
</html>
