<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
                                {% for matter in site.frontmatter %}
                                  <li><a href="{{ matter.url }}" title="{{ matter.title }}">{{ matter.title }}</a></li>
                                {% endfor %}
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hanks@nii.ac.jp">email</a></li>
	        		<li><a href="https://github.com/mike052577">github.com/mike052577</a></li>
				</ul>
			</footer>
		</body>
	</html>
